<!--
1.- Crea un componente en Angular que permita listar paises
usa para ello el API: https://restcountries.com/v3.1/all

2.- El componente debera permitir la busqueda de paises por nombre
3.- Permite mostrar informacion detallada de cada pais
-->

<h1>Listado de paises</h1>
<input class="m-3 p-3  bg-amber-100 border rounded-lg" type="text" [(ngModel)]="buscar" placeholder="Nombre del pais"/>
<button matButton="tonal" (click)="buscarPaises()">Buscar</button>

@let paises = paises$ | async;

@for (pais of paises; track pais.cca2) {
    <br>
    <p class="m-3 p-3 border-2 rounded-lg">{{pais.name.common}}</p>
    <br>
    <img [src]="pais.flags.png || pais.flags.svg" width="300px"/>
}
